# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__MACOSX/._data
__MACOSX/data/._KAUST_Beacon.obj
__MACOSX/data/._teapot.obj
__MACOSX/data/._teapot_with_normals.obj
data/KAUST_Beacon.obj
data/teapot.obj
data/teapot_with_normals.obj
